<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <div class="infos-content">
                <img class="portrait" src='/images/Foto de Perfil.jpg'>
                <div class="infos">
                    <p><b>Name:</b> Danilo Vilhena</p>
                    <p><b>Location:</b> Fortaleza, Brazil</p>
                    <p><b>E-mail:</b> danilo.vilhena@gmail.com</p>
                    <div class="github">
                        <img src="/images/github.png">
                        <a href="https://github.com/danilovilhena">GitHub</a>
                    </div>
                </div>
            </div>
        </div>
        
        {{>footer}}
    </body>
</html>