<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Developed in April 2020 using the following APIs:</p>
            <div class="apis">
                <div class="firstAPI">
                    <img src="/images/mapbox.png">
                    <a href="https://www.mapbox.com/" target="blank">Mapbox</a>
                </div>
                <div class="secondAPI">
                    <img src="/images/weather_stack.ico">
                    <a href="https://weatherstack.com/" target="blank">Weather Stack</a>
                </div>
            </div>
        </div>
        
        {{>footer}}
    </body>
</html>